<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <h1>Registro</h1>
    <form action="createUser" method="post">
        <input type="text" placeholder="Nome" name="name">
        <input type="text" placeholder="E-mail" name="email">
        <input type="password" placeholder="Senha" name="password">
        <button type="submit" name="user" id="user">Registrar</button>
    </form>

    <text>Já possui uma conta?</text>
        <a href="login">Realize o login</a>
    
    
</body>
</html>